@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.crypto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  gap: 1rem;
}

.apexcharts-xaxis-label {
  display: none;
}
